body {
    background-color: #F7F7F7;
}

div {
    text-align: center;
}

div.logo {
    background-color: aqua;
    display: inline-block;
    width: 205px;
    height: 200px;
    top: 180px;
    position: relative;
    align-self: center;
}

div.search-input {
    background-color: blue;
    display: inline-block;
    width: 540px;
    height: 45px;
    top: 400px;
    right: 500px;
    position: absolute;
    align-self: center;
    /* z-index: 2; */
}

/* magnifier width 50px */