body {
    background-color: #F7F7F7;
}

div.main {
    text-align: center;
    width: 100vmax;
    height: 100vmax;
}

div.logo {
    background-color: aqua;
    display: inline-block;
    width: 205px;
    height: 200px;
    top: 180px;
    position: relative;
    align-self: center;
}

div.search-bar {
    background-color: orange;
    display: block;
    width: 100vmax;
    height: 45px;
    top: 420px;
    position: absolute;
}
div.search-input {
    background-color: blue;
    display: inline-block;
    width: 490px;
    height: 45px;
    top: 405px;
    /* padding: 5px 0 5px 0; */
    /* right: 25px; */
    /* right: 500px; */
    /* position: relative; */
    align-self: center;
    align-content: unset;
    /* z-index: 2; */
}

a.search-button {
    background-color: blueviolet;
    display: block;
    width: 50px;
    height: 45px;
    top: 405px;
    align-self: right;
    position: relative;
    /* right: 5px; */
}

input.search-text {
    background-color: orangered;
    display: block;
    width: 440px;
    height: 45px;
    top: 405px;
    align-self: left;
    border: 1 0 1 1 solid black;
}
/* magnifier width 50px */